.col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1-5 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-1-5 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left;
  }
}

body {
    background-color: #036;
}

.movieSelector {
  margin-bottom: 20px;
  width: 95%;
}

.movieGrid {
  float:left;
  margin-bottom: 10px;
}

.item {
  max-width: 200px;
  height: 290px;
  background-color: #654;
}

.movieScreen {
  max-width: 200px;
}

.moviePoster {
  text-decoration: none;
  height: 275px;
}