.mainBody {
  background-color: #036;
}

.movieGrid {
  background-color: #036;
  max-width: 1500px;
}

.movieGrid ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.movieGrid ul li {
  display: block;
  float: left;
}

.movieGrid ul li img {
  text-decoration: none;
  padding: 2em;
  color: #fff;
  max-height: 300px;
  background-color: #036;
}

.movieGrid ul li img:hover {
  color: #fff;
  background-color: #369;
}

.movieGrid .movieButtons {

}