<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <title>Shomi App</title>
    <link rel="stylesheet" href="../bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="../bower_components/html5-boilerplate/dist/css/main.css">
    <link data-require="bootstrap-css@*" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css">
    <script src="../bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  </head>

  <body>
    <div class="mainBody" ng-controller="myController">

      <div class="movieSelector">
        <select class="form-control" ng-model="sortBy">
          <option value="Title">A-Z</option>
          <option value="RunTimeSec">Duration</option>
          <option value="ReleaseYear">Year</option>
        </select>
      </div>

      <div class="movieGrid" >
        <div ng-show="movies.length > 0">
          <div ng-repeat="movie in movies | orderBy:sortBy | startFrom:currentPage*pageSize | limitTo:pageSize " class="col-md-1-5">
            <image-viewer
              movie="movie">
            </image-viewer>
          </div>
        </div>
      </div>

      <nav>
        <ul class="pager">
          <li ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"><a href="#">Previous</a></li>
          <li ng-disabled="currentPage >= movies.length/pageSize - 1" ng-click="currentPage=currentPage+1"><a href="#">Next</a></li>
        </ul>
      </nav>

    <div>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
  </body>
</html>